body {
  background: linear-gradient(to right, #5b86e5, #36d1dc);
}

#content {
  font-family: 'Nunito', sans-serif;
  width: 750px;
  margin: 0 auto;
}

#name {
  color: white;
  font-size: 3.5em;
  font-weight: 800;
  position: relative;
  margin-top: 80px;
}

#tagline {
  color: white;
  font-size: 3.50em;
  font-weight: 300;
  position: relative;
  margin-top: -70px;
}

#paragraph {
  color: white;
  font-size: 1em;
  font-weight: 200;
  position: relative;
  margin-top: 50px;
  max-width: 800px;
}